<section>

    <aside>
        <h3>Send scheduled messages</h3>
        <p>Send scheduled messages to your colleagues via Slack, Teams or other collaboration software.</p>
    </aside>
    <aside>
        <h3>Gather productivity and morale metrics</h3>
        <p>Get a glimpse into the morale of a particular group of colleagues with scheduled polls.</p>
    </aside>
    <aside>
        <h3>Sprinkle some fun onto the work day</h3>
        <p>Lighten up the athmosphere by sending funny messages and memes.</p>
    </aside>

    <p>This app was built as part of the Axway Griffin #BetterConnected Hackathon.</p>

</section>