<section>
    <div style="float: left;">
        <h3>Create a new scheduled message:</h3>
        <form action="/messages" method="POST">
            message <input type="textarea" name="message">
            URL <input type="text" name="targetURL">
            channel <input type="text" name="targetChannel">
            people <input type="text" name="targetPeople">
            when? <input type="datetime" name="whenToPost">
            <input type="submit" value="create">
        </form>
    </div>
    <div style="float: left; margin-left: 3em; padding: 2em; border-left: 5px solid mediumslateblue;">
        <h3>Already scheduled messages:</h3>
        <% @messages["buzzmessages"].each do |m| %>
            <p><%= m["message"] %></p>
        <% end %>
    </div>
</section>